#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./img/bg1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.title {
  color: teal;
}
.card {
  background-color: rgb(196, 193, 193);
  min-width: 50%;
  min-height: 20%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 10px 10px;
  margin-bottom: 50px;
}

.heading {
  display: flex;
  align-items: center;
  font-family: "Sail", cursive;
}

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 75px;
  width: 175px;
  opacity: 1;
  background-color: #4ad6bfd2;
  border: 1px solid rgba(22, 167, 107, 0.6);
}
@media only screen and (max-width: 600px) {
  .card {
    min-width: 90%;
    max-width: 95%;
    min-height: 30%;
  }
  .heading {
    font-size: 18px;
  }
}
